#hero-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
}
#hero {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.hero-content {
  position: relative;
  z-index: 1; /* above canvas */
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.6;
  color: var(--clr-light);
}
.hero-content strong {
  line-height: 1.2;
  font-size: var(--fs-800);
  color: var(--clr-light);
  text-shadow: var(--text-shadow-strong);
  padding: 0 0.5rem;
}
.hero-content p {
  margin: 1rem 0;
  font-size: var(--fs-500);
  text-shadow: var(--text-shadow-medium);
  padding: 0 0.5rem;
}
.hero-content a {
  font-size: var(--fs-600);
  padding: 0.5rem 1rem;
  background-color: var(--clr-accent);
  border-radius: 15px;
  color: var(--clr-light);
  transition: 0.3s ease;
}
.hero-content a:hover {
  border: 1px solid var(--clr-primary);
  background-color: transparent;
}
.hero-content .hero-info {
  width: 100%;
}
.hero-content .hero-character {
  display: none;
  width: 100%;
  height: 100%;
  border: 2px solid red;
}
.hero-content img {
  width: 100%;
  padding: 1rem;
  padding-bottom: 0;
}

.wave-separator {
  display: block;
  width: 100%;
  height: 0;
}

/* About Us Section */
#about {
  padding: 2rem 1rem;
  background-color: var(--clr-darker);
}
#about .about-info {
  display: flex;
  flex-direction: column;
  line-height: 1.6;
  width: 100%;
}
#about strong,
#about small {
  color: var(--clr-light);
}
#about .about-info p {
  font-size: var(--fs-500);
  color: var(--clr-gray);
  text-align: justify;
  text-shadow: var(--text-shadow-soft);
}
#about .about-info a {
  z-index: 101;
  background-color: var(--clr-accent);
  color: var(--clr-light);
  border-radius: 5px;
  width: fit-content;
  padding: 0.5rem 1rem;
  font-weight: 600;
  transition: 0.3s ease;
  margin-top: 2rem;
}
#about .about-info a:hover {
  background-color: var(--clr-darker);
  border: 1px solid var(--clr-primary);
  color: var(--clr-primary);
}
#about .about-img {
  width: 100%;
}
.about-img img {
  width: 100%;
  padding: 1rem;
}

/* TABLET VIEW */
@media (min-width: 481px) and (max-width: 1023px) {
  #hero {
    position: relative;
    max-height: 900px;
    text-align: left;
  }
  .hero-content h1,
  .hero-content strong,
  .hero-content p {
    padding: 0;
  }
  .hero-content {
    flex-direction: row-reverse;
    padding: 0.5rem 1rem;
  }
  /* About Us Section */
  #about .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  #about .about-img {
    text-align: center;
  }
  #about img {
    width: 150%;
    max-width: 700px;
    padding: 2rem;
    margin-left: -8rem;
  }
  #about .about-info {
    text-align: start;
  }
  /* Service Section */
  .services-card .services-info {
    height: 50%;
  }
  /* Why Choose Us Section */
  #why-choose-us .why-choose-us-content {
    display: flex;
    flex-direction: row;
  }
  #why-choose-us .wcus-info {
    width: 80%;
  }
  #why-choose-us .wcus-character {
    text-align: center;
  }
  #why-choose-us img {
    width: 150%;
    max-width: 800px;
  }

  /* Footer Section Divider */
  .footer_wave-divider {
    margin-bottom: -3rem;
  }
}

/* DESKTOP VIEW */
@media (min-width: 1024px) {
  #hero {
    position: relative;
    max-height: 900px;
    text-align: left;
  }
  .hero-content h1,
  .hero-content strong,
  .hero-content p {
    padding: 0;
  }
  .hero-content {
    flex-direction: row-reverse;
    padding: 0.5rem 1rem;
  }
  /* About Us Section */
  #about .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
  }
  #about .about-img {
    width: 70%;
  }
  #about .about-info {
    width: 60%;
  }
  /* Services Section */
  #services small::before,
  #services small::after {
    width: 15%;
  }
  #services .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .services-card .services-info {
    height: 45%;
  }
  /* Why Choose Us Section */
  #why-choose-us .why-choose-us-content {
    display: flex;
    flex-direction: row;
  }
  #why-choose-us .wcus-info {
    width: 45%;
  }
  #why-choose-us img {
    width: 150%;
    max-width: 800px;
  }
  /* Footer Section Divider */
  .footer_wave-divider {
    margin-bottom: -5rem;
  }
}
